body{
	margin: 0;
	font-family: Helvetica;
	min-height: 100%;
	background:linear-gradient(35deg, #fff, #008753);
	background-repeat: no-repeat;
}
header,main,section,div,footer {
	overflow: auto;
}
/*HEADER*/
header{
	width: 100%;
	background-color: #008753;
}
header .logo {
	color: #fff;
	display: block;
	padding: 12px;
	text-decoration: none;
	font-size: 2em; 
	font-weight: bold;
	float: left;

}
header span {
	font-size: 1.5em;
}

.navbar ul{
	float: right;
}

.navbar ul li {
	display: inline-block;
	float: left;
	font-size: 1em;
	list-style: none;
	padding: 20px;
}

.navbar a{
	color: #fff;
	margin: 10px;
	text-decoration: none; 
}

.navbar a:hover{
	text-decoration: underline;
}

header .sign-up {
	float: right;
	width: 100px;
	padding:10px;
	margin: 15px 30px 15px 15px;
	font-size: 1em;
	font-weight: bold;
	color: #008753;
	background-color: #fff;
	border: none;
	cursor: pointer;
}

header .sign-up a{
	text-decoration: none;
	color: #008753;
}

/*INDEX CONTENT*/
.container{
	width: 100%;
	margin: auto;
}
.content {
	float: left;
	width: 40%;
	font-size: 1.6em;
	font-weight: bold;
	padding: 50px;
	margin: 15px;
	line-height: 1.5em;
}
.sign-in{
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.5) 0px 10px 30px;
	margin: 30px;
	padding: 50px;
}
.sign-in h2{
	text-align: center;
	color: #008753;
	font-weight: bold; 
}
.sign-in hr {
	width: 70%;
}
.sign-in form{
	height: 100%;
}
.sign-in form input{
	font-size: 14px;
	display: block;
	height: 20px;
	width: 50%; 
	margin: 10px auto;
	margin-bottom: 12px;
	padding: 16px 13px;
}
.sign-in button {
	width: 50%;
	display: block;
	border: none;
	color: #fff;
	background-color: #008753;
	margin: 10px auto;
	padding: 20px;
}
.sign-in button:hover, .sign-up:hover{
	box-shadow: 0 8px 16px 0 #ccc, 0 6px 20px 0 #111;
	transition-duration: 0.5s;
}

/*HOME STYLING*/
.layer {
	background-color: rgba(248, 247, 216, 0.7);
	width: 100%;
	height: 400px;
}
.banner{
	width: 100%;
	height: inherit;
	background-image: url(../img/vote.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}
.banner h2 {
	color: #008753;
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
}
.banner p {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
	color: #008753;
}
.align {
	display: table-cell;
	vertical-align: middle;
}
.boxes{
	margin: 0 auto;
	width: 80%;
}
.boxes a {
	text-decoration: none;
	color: #008753;
}

.boxes h3 {
	padding: 20px;
}
.boxes div {
	margin: 10px;
	padding: 20px;
	height: 100px;
	text-align: center;
	background-color: #fff;
	float: left;
}
.boxes div:hover {
	box-shadow: 0 8px 16px 0 #ccc, 0 6px 20px 0 #111;
}
.box-top {
	width: 26%;
}
.box{
	width: 42%
}


/*SIGN UP FORM STYLING*/
.register {
	position: relative;
	overflow: hidden;
	width: 700px;
	height: 500px;
	margin: auto;
	margin-top: 80px;
	margin-bottom:80px; 
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.5) 0px 10px 30px;
}
.half hr {
	width: 40%;
}
.half img {
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	float: right;	
	background-size: 400px;
}
.half h1{
	margin: auto;
	text-align: center;
	padding-top: 50px;
	
}
.signup-form {
	width: 300px;
	margin:10px 5px 5px 30px;
	padding: 20px 40px;
}
.signup-form input {
	font-size: 14px;
	display: block;
	height: 20px; 
	margin-bottom: 12px;
	padding: 16px 13px;
}

.signup-form button {
	display: block;
	width: 200px;
	padding: 16px 13px;
	border: none;
	background-color: #008753;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.signup-form p{
	padding-top: 5px;
	font-size: 12px;
	text-align: left;

}
.signup-form a{
	color: #fff;
	text-decoration: none;
}
/*ADMIN STYLING*/
#dash {
	margin: 0 0 10px;
}
.overview {
	margin: 30px auto;
	padding: 20px;
}

.overview h2 {
	padding: 10px;
	text-align: left;
	color: #fff;
}
.overview p{
	padding: 10px;
	font-size: 1em;
	text-align: justify;
}

.table{
	margin: 20px auto;
	padding: 30px;
	width: 70%;
	background-color:#fff;
	overflow-x: auto;
}

#search {
	display: block;
	margin: 10px auto;
	width: 50%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border:1px solid #ddd;	
} 

.table table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 70%;
}

#political-party th {
	padding: 12px 5px;
	text-align: left;
	background-color: #008753;
	color: #fff;
}

#political-party td, #political-party th {
	border: 1px solid #ddd;
	padding: 8px;
}

#political-party button {
	border:none;
	background-color: #008753;
	color: #fff;
	padding: 8px;
}
.create {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding: 20px;
}
.form1, .form2{
	width: 35%;
	background-color: #fff;
	margin: 20px;
}
.form1 {
	float: right;
	padding: 20px;
}
.form2{
	float: left;
	padding: 20px;
}
.form1 h2, .form2 h2 {
	text-align: center;
	color: #008753;
}
.form1 input, .form2 input {
	font-size: 14px;
	display: block;
	width: 60%;
	height: 20px; 
	margin: 12px auto;
	padding: 20px;
}
.form1 button, .form2 button {
	display: block;
	width: 70%;
	padding: 20px;
	margin: 12px auto;
	border: none;
	background-color: #008753;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

/*Admin Sign In*/
.admin-s {
	width: 50%;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	height: 70%;
	box-shadow: 0 8px 16px 0 #ccc, 0 6px 20px 0 #111;
}

.admin-s h2 {
	text-align: center;
	color: #008753;
}

.admin-s input {
	display: block;
	width: 50%;
	margin: 10px auto;
	padding: 20px;
}
.admin-s button {
	display: block;
	margin: 10px auto;
	padding: 10px;
	width: 55%;
	background-color: #008753;
	color: #fff;
	border: none;
}
.admin-s a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

/*VOTING PLATFORM*/
.wrapper{
	margin: 0 auto;
	width: 80%;
	background-color: #fff;
}
.wrapper .title {
	padding: 10px;
	background-color: #ccc;
	color: #008753;
	margin: 20px;
	font-size: 2em;
}
.wrapper label {
	font-size: 0.7em;
	font-weight: bold;
}
.wrapper p {
	font-size: 25px;
}
.wrapper img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.vote input{
	cursor: pointer;
}
fieldset .describe{
	font-size: 20px;
	margin-left: 20px; 
	padding: 10px 0 0 50px;
}
.details p{
	padding: 20px 0;
}

.state select{
	background-color: #008753;
	color: #fff;
	width: 200px;
	padding: 10px;
	margin-bottom: 20px;
}

/*REGISTER OFFICE*/
.office {
	position: relative;
	overflow: hidden;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom:80px; 
	background-color: #fff;
	box-shadow: rgba(0,0,0,0.5) 0px 10px 30px;
	padding: 20px;
}
.office h1{
	text-align: center;
	color: #008753;
}
.office input {
	font-size: 14px;
	display: block;
	width: 60%;
	height: 20px; 
	margin: 12px auto;
	padding: 20px;

}
.office select {
	font-size: 16px;
	display: block;
	width: 67%;
	margin: 0 auto;
	padding: 20px;
}
.office button {
	padding: 20px;
	margin: 10px auto;
	border: none;
	display: block;
	width: 60%;
	background-color: #008753;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.office button a {
	text-decoration: none;
	color: #fff;
	padding: 10px;
}


.office button:hover {
	box-shadow: 0 8px 16px 0 #ccc, 0 6px 20px 0 #111;
}
footer {
	float: none;
	clear: both;
	text-align: center;
	font-size: 0.9em;
	background: #008753;
	padding: 5px;
	color: #fff;
}
footer a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}


@media(max-width:768px){

	header a.logo, .navbar ul, header .sign-in, main .content, .sign-up, .form1, .form2 {
		float: none;
	}

	header a.logo {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.navbar{
		margin-bottom: 30px;
	}
	.navbar ul{
		display: block;
		margin: 0 auto;
		width: fit-content;
		padding: 10px;
	}
	.navbar ul li{
		float: left;
		display: inline-block;
		margin: 0 auto;
		padding: 0 16px;
	}
	.navbar ul li a{
		font-size: 15px;
		
	}
	header button{
		margin: 10px 0 10px 35%;
		width: 30%;
	}
	main{
		width: 100%
	}
	main .content{
		margin: auto;
		margin-top: 10px;
		width: 80%;
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;
		padding: 10px;
	}
	
	.sign-up{
		margin: auto;
		width: 80%;
	}
	.office{
		margin: 20px auto;
		width: 80%;
	}

	.sign-up h2 {
		margin: 10px;
		padding: 10px;
		text-align: center;
		font-size: 1em;
	}
	.office button{
		padding: 10px;
	}
	.sign-up button{
		margin: auto;
		margin-bottom: 10px;
		width: 50%;
		padding: 10px;
		font-size: 1em;
	}
	.form1, .form2{
		width: 80%;
		margin: 10px;
	}
	.form1 input, .form2 input, .office input {
		font-size: 12px;
	}
	.admin-s h2 {
		font-size: 18px;
	}

	.admin-s input {
		display: block;
		width: 80%;
		margin: 20px auto;
		padding: 20px;
	}
	.boxes div, .boxes .box-top, .boxes .box {
		margin: ;
		float: none;
		height: 100px;
		width: 80%;
		overflow: hidden;
	}
	.boxes h3 {
		position: relative;
		font-size: 20px;
	}

}

@media(max-width:725px){
	.register{
		width: 90%;
	}
	.half img {
		display: none;
	}
	.signup-form {
		width: inherit;
		margin:10px 20px;

	}
	.signup-form input {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 12px;
	}
	.signup-form button {
		width: 80%;
		margin: 0 auto;
	}
}
